:host {
  display: block;
  padding: 0.8rem;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.mat-nested-tree-node div[role=group] {
  padding-left: 1.5em;
}

mat-icon.node-specific-icon {
  padding: 12px;
}

.mat-tree-node {
  p {
    margin: 0;
  }
}

div[role=group].children-expanded {
  display: block;
}


// Future work: animated expandable sidenav
// /*
//  * This padding sets alignment of the nested nodes.
//  */
// .mat-nested-tree-node div[role=group] {
//   padding-left: 1.5em;
// }

// mat-icon.node-specific-icon :not(.expander) {
//   padding: 12px;
// }

// .mat-tree-node {
//   p {
//     margin: 0;
//   }
// }

// /*
//  * Padding for leaf nodes.
//  * Leaf nodes need to have padding so as to align with other non-leaf nodes
//  * under the same parent.
//  */
// div[role=group] {
//   display: none;

//   &.children-expanded {
//     display: block;

//     // animation: 0.3s forwards slideUp;
//   }

//   &>.mat-tree-node {
//     // padding-left: 40px;
//   }
// }
