<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>CavernSeer</mat-card-title>
      <span mat-card-lg-image>
        <a href="https://apps.apple.com/us/app/cavernseer/id1562503316?itscg=30200&amp;itsct=apps_box_appicon"
          style="border-radius: 22%; overflow: hidden; display: inline-block; vertical-align: middle;">
          <img
            src="https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/4d/2b/0b/4d2b0ba0-d6a5-0cac-3b14-ed0122d6a02d/AppIcon-1x_U007emarketing-0-7-0-85-220.png/540x540bb.jpg"
            alt="CavernSeer"
            style="border-radius: 22%; overflow: hidden; display: inline-block; vertical-align: middle;">
        </a>
      </span>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>

    Designed for cave and shelter surveying, CavernSeer leverages the LiDAR scanner of the 2020 iPad Pro and the iPhone
    12 Pro, and RealityKit's scene reconstruction, to generate relatively-accurate 3D meshes of real-world spaces and
    render them in various convenient ways.

    <br />

    <a href="https://apps.apple.com/us/app/cavernseer/id1562503316?itsct=apps_box_badge&amp;itscg=30200"
      style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;">
      <img
        src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/white/en-us?size=250x83&amp;releaseDate=1630368000"
        alt="Download on the App Store" style="border-radius: 13px; width: 250px; height: 83px;">
    </a>

  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="https://cavernseer.grush.org/github" target="_blank">
      github:skgrush/github
      <mat-icon>open_in_new</mat-icon>
    </a>

  </mat-card-actions>
</mat-card>
