@use 'sass:color';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


a {
  $link-color: white;

  &:any-link {
    color: $link-color;
  }

  &:active,
  &.active-link {
    color: color.adjust($link-color, $blackness: 30%);
    font-style: italic;
  }
}
